{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [
      2,
      "double"
    ],
    "react/react-in-jsx-scope": 0,
    "import/named": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "import/export": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/control-has-associated-label": 0
  }
}